.wrapper {
    width: 100%;
    height: var(--default-layout-height-header);
    box-shadow: 0px 1px 1px rgb(0 0 0/12%);
    display: flex;
    justify-content: center;
}
.inner {
    height: 100%;
    width: var(--default-layout-width);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 100px;
    cursor: pointer;
}

//actions
.actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 272px;
}
.action-menu {
    font-size: 25px;
    background-color: var(--white);
}

.more-btn {
    padding: 5px;
    background-color: transparent;
}

.action-btn {
    padding: 5px;
    background-color: transparent;
    font-size: 18px;
    position: relative;
}
// avatar login
.badge {
    position: absolute;
    top: 0px;
    left: 50%;
    padding: 2px 6px;
    border-radius: 10px;
    color: var(--white);
    font-size: 13px;
    background-color: var(--primary);
}
.wrapper-action {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.user-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    object-fit: cover;
    margin-left: 20px;
}
